@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Lilita+One&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(#107A9B,#ffffff);
}
.cabecalho{
    width: 100%;
    position: relative;
    height: 150px;
    background-color: #107A9B;
    line-height: 150px;
    display: flex;
    justify-content:left;
}

.img1-cabecalho{
    box-shadow: 2px 2px 4px rgba(255,255,255,0.5);
}
.img2-cabecalho{
    box-shadow: 2px 2px 4px rgba(255,255,255,0.5);
}
.titulo{
    position: absolute;
    top: 0em;
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
    color:#107a9b;
    text-shadow: 2px 2px 4px rgba(16,122,155,0.3);
    font-size: 3.3em;
    text-align: left;
    padding: 20px;
}

.informa{
    color:aliceblue;
    font-family: 'Agdasima', sans-serif;
    font-size: 1.5em;
    text-align: justify;
    box-shadow: 0px 0px 4px rgba(255,255,255,0.5);
    padding: 1em;
    display:flex;
    justify-content: center;
}

.aprendizagem{
    position: relative;
    padding: 1em;
    width: 25%;
    height: 25%;
    float: right;   
}
.lista{
    padding: 0.5em 1.5em;
    list-style-image: url("marcador.png");
}

.plataformas{
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.desafio, .edutech, .ingles, .matematica, .portugues, .robotica, .crte{
    display: flex;
    justify-content: center;
}

.plataformas img{
    padding: 1em;
    width: 50%;
}

.menu-plataformas{
    position: relative;
    top: 1em;
    list-style-type: none;
    display: inline-block;
}

.item-menu{
    background-color: #074558;
    color:aliceblue;
    font-family: 'Agdasima', sans-serif;
    padding: 0.5em;
    margin-top: 1em;
    font-size: 1em;
    text-align: center;
    box-shadow: 4px 4px 4px aliceblue;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    width: 170px;    
}

a{
    text-decoration: none;
}

.item-menu:hover{
    background-color: aliceblue;
    color:#074558;
    text-decoration: underline;
    box-shadow: inset 4px 4px 4px #074558;
    font-weight: bold;

}

.fim{
    height: 50px;
    text-align: right;
    padding: 10px;
}

.icone-inicio{
   width: 3.5%;
   

}

.rodape{
    clear: both;
    background-color: #074558;
    height: auto;
    width: 100%;
    display: flex;
    padding: 0.5em;
    vertical-align: middle;
    justify-content: space-around;
}
.rodape h4{
    color:#ffffff;
    font-size: 1em;
    font-weight: lighter;
    font-family: 'Agdasima', sans-serif;
    padding: 0.3em;
} 
.esquerda{
    width: 50%;
    text-align: left;
}

.direita{
    float: right;
    display: flex;
    text-align: left;
  
}

.icones, .dados{
   list-style-type: none;
   line-height: 1em;
}

.icones li{
   padding: 5px 5px 2px 10px;
}
